{% extends "AppEntrega/padre.html" %}

{% load static %}

{% block contenidoquecambia %}

        <h3><div class="text-bg-dark p-3"><p class="text-center">Elige tu opcion</h3></p>
            <p class="lead">
                <p class="text-center">
                Pincha el botón de tu preferencia.
              </p>
              <div class="d-grid gap-2 col-6 mx-auto">
                <a class="btn btn-primary btn-x" href="/nuevopiloto">Crear un Nuevo Piloto</a>
                <a class="btn btn-primary btn-x" href="/buscarpiloto">Buscar los pilotos de tu escuderia</a>
              </div>

{% endblock contenidoquecambia %}